/*.cabecera { height: 90px; }
.qr { height: 45px; }
.cabecera2 { height: 90px; }
h1 {
    color: navy;
    font-family: times;
    font-size: 24pt;
    text-decoration: underline;
}
p.first {
    color: #003300;
    font-family: helvetica;
    font-size: 12pt;
}
p.first span {
    color: #006600;
    font-style: italic;
}
p#second {
    color: rgb(00,63,127);
    font-family: times;
    font-size: 12pt;
    text-align: justify;
}
p#second > span {
    background-color: #FFFFAA;
}
table.first {

    font-family: helvetica;
    font-size: 8pt;

}
td {

}
td.second {
    border: 2px dashed green;
}
div.test {
    color: #CC0000;
    background-color: #FFFF66;
    font-family: helvetica;
    font-size: 6pt;
    border-style: solid solid solid solid;
    border-width: 2px 2px 2px 2px;
    border-color: green #FF00FF blue red;
    text-align: center;
}
.lowercase {
    text-transform: lowercase;
}
.uppercase {
    text-transform: uppercase;
}
.capitalize {
    text-transform: capitalize;
}

td.verticalText {
    writing-mode: vertical-lr;
    transform: rotate(180deg);
    writing-mode: vertical-rl;
    text-orientation: upright;
    white-space: pre;

}*/

.title-pdf{
    color: #000000;
}
.title-style {
    font-size: 8pt;
}
.des-style {
    text-align: left; 
    font-size: 7pt; 
    background-color: #c5d4ea;
}
.des-detail{
    color: #000000;
    font-style: normal;
}
.camp-empres{
    text-align: center;
    font-size: 7pt;  
    background-color: #ceffcc;
    width: 26%; 
    align: center;
}
.camp-ruc{
    text-align: center;
    font-size: 7pt;  
    background-color: #ceffcc;
    width: 14%; 
    align: center;
}
.camp-ciu{
    text-align: center;
    font-size: 7pt;  
    background-color: #ceffcc;
    width: 11%; 
    align: center;
}
.camp-hc{
    text-align: center;
    font-size: 7pt;  
    background-color: #ceffcc;
    width: 23%; 
    align: center;
}
.camp-na{
    text-align: center;
    font-size: 7pt;  
    background-color: #ceffcc;
    width: 10%; 
    align: center;
}
.camp-es{
    text-align: center;
    font-size: 7pt;  
    background-color: #ceffcc;
    width: 20%; 
    align: center;
}
b.camp-cbz {
    color: #000000
}
.result-camp-1 {
    font-size: 7pt;  
    width: 26%; 
    align: center;
    text-align: center;
    overflow-wrap: break-word;
    max-width: 1vh;
}
.result-camp-2 {
    font-size: 7pt;  
    width: 14%; 
    align: center;
    text-align: center;
    overflow-wrap: break-word;
    max-width: 1vh;
}
.result-camp-3 {
    font-size: 7pt;  
    width: 11%; 
    align: center;
    text-align: center;
    overflow-wrap: break-word;
    max-width: 1vh;
}
.result-camp-4 {
    font-size: 7pt;  
    width: 20%; 
    align: center;
    text-align: center;
    overflow-wrap: break-word;
    max-width: 1vh;
}
.result-camp-5 {
    font-size: 7pt;  
    width: 23%; 
    align: center;
    text-align: center;
    overflow-wrap: break-word;
    max-width: 1vh;
}
.result-camp-6 {
    font-size: 7pt;  
    width: 10%; 
    align: center;
    text-align: center;
    overflow-wrap: break-word;
    max-width: 1vh;
}
.result-camp-7 {
    font-size: 7pt;  
    width: 3%; 
    align: center;
    text-align: center;
    overflow-wrap: break-word;
    max-width: 1vh;
}
.result-camp-8 {
    font-size: 7pt;  
    width: 100%; 
    align: center;
    text-align: left;
    overflow-wrap: break-word;
    max-width: 1vh;
}
.result-camp-9 {
    margin: 5px;
    font-size: 5.5pt;  
    align: center;
    text-align: center;
    overflow-wrap: break-word;
    max-width: 1vh;
 
}
.result-camp-10 {
    font-size: 7pt;  
    width: 50%; 
    align: center;
    text-align: center;
    /*overflow-wrap: break-word;*/
    /*max-width: 1vh;*/
}
.camp-1{
    width: 13%; 
    font-size: 6pt;
    background-color: #ceffcc;
}
.camp-2{
    width: 9%; 
    font-size: 6pt;
    background-color: #ceffcc;
}
.camp-3{
    width: 15%; 
    font-size: 6pt;
    background-color: #ceffcc;
}
.camp-4{
    width: 10%; 
    font-size: 6pt;
    background-color: #ceffcc;
}
.camp-5{
    width: 30%; 
    font-size: 6pt;
    background-color: #ceffcc;
}
.camp-7{
    width: 3%; 
    font-size: 7pt;
    background-color: #ceffcc;
}
.camp-8 {
    font-size:8pt;
    background-color: #ceffcc;
}

.camp-9{
    width: 3%; 
    font-size: 6.5pt;
    background-color: #ceffcc;
    padding: 0;
    margin: 0;
}

.camp-10{ /*#pendiente*/
    width:13%; 
    font-size: 6.5pt;
    background-color: #ceffcc;
    padding: 0;
    margin: 0;
}
.camp-11{
    width:15px; 
    font-size: 6.5pt;
    background-color: #FFFFFF;
    padding: 0;
    margin: 0;
}
.camp-12{
    width: 15%; 
    font-size: 7pt;
    background-color: #ceffcc;
    text-align: left;
}
.camp-13{
    width: 23%; 
    font-size: 7pt;
    background-color: #ceffcc;
}
.camp-14{ /*#pendiente*/
    /*width:13%; */
    font-size: 6.5pt;
    background-color: #ceffcc;
    padding: 0;
    margin: 0;
}
.camp-12-azul{
    width: 15%; 
    font-size: 7pt;
    background-color: #aedbd7;
    text-align: left;
}
.camp-15{
    width: 18%; 
    font-size: 6pt;
    background-color: #ceffcc;
}
.camp-16{
    width: 20%; 
    font-size: 6pt;
    background-color: #ceffcc;
}



.campa-1tit{
    width: 3%;
    align:center;
    font-size:7pt;
    background-color: #d2edf4;
}

.campa-1{
    width: 9%;
    font-size:6.5pt;
    background-color: #d2edf4;
}

.campa-2{
    width: 10%;
    font-size:6.5pt;
    background-color: #d2edf4;
}


.campa-result-1{
    width: 2%;
    align:center;
    text-align: center;
    font-size:7pt;
}

.campa-result-2{
    width: 87%;
    align:center;
    text-align: center;
    font-size:7pt;

}

.font-size6pt{
    font-size: 6pt;
    text-align: center;
}
.font-size6pts{
    font-size: 6pt;
    text-align: right;
}
.font-size7pt{
    font-size: 6pt;
    text-align: center;
}
.verticalText {
/*writing-mode: vertical-lr;*/
transform: rotate(270deg);
}

p.mrg-og{
    padding: 0px;
    margin:  -30px -30px -0px -30px;
    /*text-overflow: "";*/
    /*max-width: 1vh;*/
    white-space: nowrap;
}
p.mrg-col1{
    padding: 0px;
    margin:  -25px -30px -0px -30px;
    /*text-overflow: "";*/
    /*max-width: 1vh;*/
    white-space: nowrap;
}
p.mrg-col2{
    padding: 7px;
    margin:  -30px -30px 5px -30px;
    /*text-overflow: "";*/
    /*max-width: 1vh;*/
    white-space: nowrap;
}

.break-txt{
    overflow-wrap: break-word;
    max-width: 1vh;
}

.center-txt{
    text-align: center;
}
.left-txt{
    text-align: left;
}
.right-txt{
    text-align: right;
}
td.border-cd{
    /*background: #aedbd7;*/
    border-top: 1px solid black;
    border-right: 1px solid black;
    border-bottom: 1px solid black;
    border-left: 1px solid black;
}

th.border-cd{
    /*background: #aedbd7;*/
    border-top: 1px solid black;
    border-right: 1px solid black;
    border-bottom: 1px solid black;
    border-left: 1px solid black;
}

p {
    padding: 0px;
    margin: 14px 0px ;
}
p.par-1 {
    margin: 0 auto;
    padding: 0;
}
.margin-30px{
    margin: 30px 0px;
}

table.table-mtv {
    padding: 0px;
    border-top: 1px solid black;
    border-right: 1px solid black;
    border-bottom: 1px solid black;
    border-left: 1px solid black;
    border-collapse: collapse;
    overflow: hidden;
}
table.table-dtp {
    padding: 0px;
    border: 1px solid black;
    border-collapse: collapse;
    text-overflow: ellipsis;
    overflow: hidden;


}
table.tb-border{
    border-top: 1px solid black;
    border-right: 1px solid black;
    border-bottom: 1px solid black;
    border-left: 1px solid black;
    overflow: hidden;
    border-collapse: collapse;
}

.th-sbdr{
    border-bottom: 1px solid black;
}


strong.stl{
    style="color: #000000; 
    font-size: 5pt;
    text-align: right;
}



/*.camp-vertica {
/writing-mode: vertical-lr;/
 writing-mode: vertical-lr;
  text-align: justify;
    transform: rotate(180deg);
}

.camp-verticalText{
     line-height:20px;
      text-align: justify;
    width: 0.1%; 
    font-size: 8pt;
    background-color: #ceffcc;
   
}*/